<%= form_tag static_pages_path, method: :get do %>
  <%= text_field_tag :flickr_id %>
  <%= submit_tag "Search" %>
<% end %>


<% if @flickr %>
        <p>Flickr id is <%= @flickr %></p>
        <% photos = flickr.photos.search(user_id: params[:flickr_id]) %>
        <% photos.each do |photo| %>
            <%= image_tag "https://farm#{photo.farm}.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
        <% end %>
<% end %>